a:visited {
  color: rgba(12, 11, 49, 1);
}

.list-style {
  list-style: none;
}

.page-wide-section {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*_________________________________HEADER_________________________________*/

header {
  height: 80px;
  border-bottom: 1px solid #10103030;
}

.navlinks-header a {
  text-decoration: none;
  color: rgba(12, 11, 49, 1);
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #10103030;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.lyft-logo {
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.navbar .navlinks-header {
  display: flex;
  flex-direction: row;
}

.navbar .navlinks-header li {
  font-weight: 700;
  display: flex;
}

.navbar .navlinks-header li a {
  display: flex;
  align-items: center;
}

.navbar .searchbox {
  margin-left: auto;
  margin-top: 1em;
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid #101030;
  border-radius: 6px;
  height: 48px;
  padding: 16px;
  width: 320px;
}

.searchicon {
  position: absolute;
  margin-left: 0px;
}

.search-dot {
  position: absolute;
  margin-right: 10px;
}

.search-dot-2 {
  position: absolute;
  left: 16px;
}

.nav-location-label {
  position: absolute;
  pointer-events: none;
  transform-origin: 0px 0px;
  transition: transform 100ms cubic-bezier(0.45, 0, 0.15, 1) 0s;
  color: grey;
  font-size: 16px;
  margin-left: 26px;
}

input:valid ~ .nav-location-label,
input:focus ~ .nav-location-label {
  transform: scale(0.9) translateY(-10px);
  margin-bottom: 2px;
}

.nav-input-style {
  outline: none;
  min-width: 80px;
  font-size: 18px;
  width: 100%;
  padding: 10px 8px 0px;
}

/*_________________________________HERO SECTION_________________________________*/

.hero-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 24px;
}

.ready-when-you-are {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hop-in {
  font-size: 80px;
  font-weight: 600;
  line-height: 92px;
  text-align: left;
  margin-bottom: 48px;
}

a.apply-to-drive {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(139, 55, 255, 1);
  border-radius: 56px;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
}

a.sign-up-to-ride {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 56px;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
}

.hero-img-1 {
  width: 1920;
  height: 2560;
  padding-bottom: 115px;
}

.driver-wearing-mask {
  display: block;
  position: absolute;
  max-width: 100%;
  height: auto;
  bottom: 20px;
  left: -24%;
}

/*_________________________________DRIVER SECTION_________________________________*/

.driver-section {
  background-color: white;
  margin-top: 80px;
  margin-bottom: 80px;
}

.driver-section-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-right: 8px;
  padding-left: 16px;
}

.driver-2 {
  border-top-right-radius: 140px;
  width: 100%;
  height: auto;
}

.driver-section-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.drive-with-lyft {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.set-your-own-hours {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 16px;
}

.reason-to-drive {
  margin-bottom: 24px;
}

/*_________________________________DRIVER REVIEW SECTION_________________________________*/

.driver-review-section {
  background-color: white;
  margin-top: 80px;
  margin-bottom: 80px;
}

.driver-review-container {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-right: 32px;
  padding-left: 16px;
}

.driver-img-harold {
  max-width: 80px;
  margin: 0px auto;
}

.driver-img-mary-christine {
  max-width: 80px;
  margin: 0px auto;
  transform: scale(0.6);
  opacity: 0.6;
}

.driver-review-harold {
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.driver-review-mary-christine {
  color: rgb(99, 99, 123);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.driver-name-harold {
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.driver-name-mary-christine {
  color: rgb(99, 99, 123);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.driver-yoe-harold {
  color: black;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.driver-yoe-mary-christine {
  color: rgb(99, 99, 123);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.driver-review-individual {
  text-align: center;
  padding: 0px 32px;
  position: relative;
  height: 100%;
  width: 33.3333%;
}

.driver-review-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.driver-review-nav-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px 24px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 56px;
  border-color: rgba(12, 11, 49, 0.45);
  background-color: white;
}

.driver-review-nav-current {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(12, 11, 49, 1);
  border-radius: 50%;
  background-color: black;
  padding: 0px;
  position: relative;
}

.driver-review-nav-other {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(12, 11, 49, 1);
  border-radius: 50%;
  background-color: white;
  margin-left: 8px;
  padding: 0px;
}

/*_________________________________RIDE SECTION_________________________________*/

.ride-section1 {
  background-color: rgb(235, 235, 255);
  margin-top: 80px;
}

.ride-section1-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-right: 8px;
  padding-left: 16px;
}

.ride-section1-part1 {
  width: 8.3333%;
  order: 1;
}

.ride-section1-part2 {
  width: 41.6667%;
  order: 3;
  text-align: left;
}

.ride-with-lyft {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ready-set-go {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  font-family: sans-serif;
  margin-bottom: 16px;
  margin-top: 8px;
}

.get-a-reliable-ride {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  padding: 21px 21px;
  background-color: white;
  border-radius: 999px;
  border: 1px solid rgb(139, 55, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 1px 0px, rgb(0 0 0 / 16%) 0px 3px 6px 0px;
  height: 40px;
}

.get-a-reliable-ride-content {
  line-height: 18px;
  font-weight: 700;
  font-size: 13px;
  padding-left: 8px;
}
.get-a-reliable-ride-content:hover {
  text-decoration: underline;
}

.know-that-your-driver {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 21px 8px;
}

.know-that-your-driver-content {
  line-height: 18px;
  font-weight: 700;
  font-size: 13px;
  font-family: sans-serif;
  padding-left: 8px;
}
.know-that-your-driver-content:hover {
  text-decoration: underline;
}

.schedule-your-ride {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 21px 8px;
}

.schedule-your-ride-content {
  line-height: 18px;
  font-weight: 700;
  font-size: 13px;
  font-family: sans-serif;
  padding-left: 8px;
}
.schedule-your-ride-content:hover {
  text-decoration: underline;
}

.get-a-ride-button {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgba(139, 55, 255, 1);
  border: 1px solid transparent;
  border-radius: 999px;
  min-height: 48px;
  min-width: 100px;
  padding: 8px 24px;
}

.lyft-pink {
  width: 100px;
  height: auto;
}
.lyft-pink-p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.ride-section1-part3 {
  width: 8.3333%;
  order: 3;
}

.ride-section1-part4 {
  width: 33.3333%;
  order: 4;
}

.ride-section2 {
  background-color: rgb(235, 235, 255);
  padding-bottom: 20px;
}

.ride-section2-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-right: 8px;
  padding-left: 24px;
  margin-left: 7.333%;
  margin-right: 83.3333%;
}

.ride-section2-part2 {
  width: 83.3333%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ride-bike-scoot {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-left: 100px;
}

.we-got-options {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 8px;
}

.ride-options-arrows {
  display: flex;
  flex-direction: row;
  margin: 0px 6px;
}

.ride-options-left-arrow {
  margin: 0px 24px 60px 24px;
  fill: grey;
}

.ride-options-right-arrow {
  background-color: rgba(139, 55, 255, 1);
  border-radius: 56px;
  margin: 0px 24px;
  border: 1px solid transparent;
  fill: white;
}

.ride-options-container {
  display: flex;
  flex-direction: row;
}

.ride-options-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  width: 280px;
  height: 280px;
  margin: 4px;
  padding: 32px 16px;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 16%);
}

.ride-options-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 16px;
}

.ride-options-image {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ride-options-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: grey;
}

.ride-options-body span {
  padding-left: 3px;
}

.availability-of-bikes {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 80px;
}

.ride-section3 {
  background-color: rgb(43, 27, 129);
  margin-bottom: 80px;
}

.ride-section3-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 36px 8px 36px 24px;
  margin-left: 7.333%;
}

.ready-to-roll {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-right: 8px;
}

.ride-section3-searchbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.location-label {
  position: absolute;
  pointer-events: none;
  transform-origin: 0px 0px;
  transition: transform 100ms cubic-bezier(0.45, 0, 0.15, 1) 0s;
  color: grey;
  font-size: 16px;
  margin-left: 42px;
}

input:valid ~ .location-label,
input:focus ~ .location-label {
  transform: scale(0.9) translateY(-10px);
  margin-bottom: 2px;
}

.input-style {
  outline: none;
  min-width: 80px;
  font-size: 18px;
  width: 100%;
  height: 60px;
  padding: 16px 26px 0px;
  margin-left: 16px;
  margin-right: -16px;
}

.ride-section3-searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.ride-section3-get-estimate {
  background-color: white;
  font-weight: 700;
  border-radius: 56px;
  padding: 12px 22px;
  margin-left: 5px;
  transform: translateY(-3px);
}

/*_________________________________SAFETY FIRST SECTION_________________________________*/

.safety-first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 16px;
  padding-right: 8px;
}

.safety-first-section1 {
  width: 8.3333%;
}

.safety-first-section2 {
  width: 40.6667%;
}

.safety-first-header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.how-to-show {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.learn-about-safety {
  font-weight: 700;
  color: white;
  background-color: rgba(139, 55, 255, 1);
  border-radius: 50px;
  min-height: 48px;
  min-width: 100px;
  padding: 8px 24px;
  margin-right: 26px;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}

.community-guidlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}
.community-guidlines:hover {
  text-decoration: underline;
}

.safety-first-section3 {
  width: 8.3333%;
}

.safety-first-section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3333%;
}

.getting-the-vaccine {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
/*_________________________________VACCINE ACCESS SECTION_________________________________*/

.vaccine-access-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
  padding-left: 16px;
  padding-right: 8px;
}

.vaccine-access-section1 {
  width: 8.3333%;
}

.vaccine-access-section2 {
  width: 33.333%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.vaccine-access-img {
  border-top-left-radius: 140px;
  width: 100%;
  height: auto;
  padding-top: 24px;
}

.vaccine-access-section3 {
  width: 8.3333%;
}

.vaccine-access-section4 {
  display: flex;
  flex-direction: column;
  width: 41%;
  text-align: left;
}

.vaccine-access-header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.vaccine-access-section4 p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.learn-more-about-vaccine-access {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 28px;
}
.learn-more-about-vaccine-access:hover {
  text-decoration: underline;
}

/*_________________________________LYFT BUSINESS SECTION_________________________________*/

/*_________________________________FOOTER_________________________________*/

.fa-twitter {
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.footer {
  background-color: #dbe9ee;
  font-size: 12px;
  padding: 32px 0px;
  margin-top: 5em;
}

.navlinks-footer a {
  text-decoration: none;
  color: rgba(12, 11, 49, 1);
}
.navlinks-footer-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: rgba(12, 11, 49, 1);
  border: 1px solid rgba(12, 11, 49, 0.45);
  border-radius: 56px;
  position: relative;
  padding: 8px 24px;
  min-height: 48px;
  min-width: 100px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 8px;
}

.sitemap {
  display: flex;
  justify-content: space-between;
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footnote .list-style {
  display: flex;
  flex-direction: row;
}

.footnote .list-style * + * {
  margin-left: 1em;
  margin-right: 1em;
}

.page-section {
  max-width: 83.333%;
  margin-left: auto;
  margin-right: auto;
}
