a:visited {
  color: rgba(12, 11, 49, 1);
}

.list-style {
  list-style: none;
}

.page-wide-section {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*_________________________________HEADER_________________________________*/

header {
  height: 80px;
  border-bottom: 1px solid #10103030;
}

.navlinks-header a {
  text-decoration: none;
  color: rgba(12, 11, 49, 1);
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #10103030;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.lyft-logo {
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.navbar .navlinks-header {
  display: flex;
  flex-direction: row;
}

.navbar .navlinks-header li {
  font-weight: 700;
  display: flex;
}

.navbar .navlinks-header li a {
  display: flex;
  align-items: center;
}

.navbar .searchbox {
  margin-left: auto;
  margin-top: 1em;
  margin-right: 2em;
  display: flex;
  align-items: center;
  border: 0.5px solid #101030;
  border-radius: 6px;
  height: 48px;
  padding: 16px;
}

.searchicon {
  margin-left: 50px;
}

.search-dot {
  margin-right: 8px;
}

/*_________________________________SECTION_________________________________*/

.hero-section {
  position: relative;
  padding-left: 24px;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-right: 8px;
  padding-top: 40px;
}

.ready-when-you-are {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hop-in {
  font-size: 80px;
  font-weight: 600;
  line-height: 92px;
  text-align: left;
}

a.apply-to-drive {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(139, 55, 255, 1);
  border-radius: 56px;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
}

a.sign-up-to-ride {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 56px;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
}

/*_________________________________FOOTER_________________________________*/
.fa-twitter {
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.footer {
  background-color: #dbe9ee;
  font-size: 12px;
  padding: 32px 0px;
  margin-top: 5em;
}

.navlinks-footer a {
  text-decoration: none;
  color: rgba(12, 11, 49, 1);
}

.sitemap {
  display: flex;
  justify-content: space-between;
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footnote .list-style {
  display: flex;
  flex-direction: row;
}

.footnote .list-style * + * {
  margin-left: 1em;
  margin-right: 1em;
}

.page-section {
  max-width: 83.333%;
  margin-left: auto;
  margin-right: auto;
}
